body {
	background: #f8fafb;
	font-family: 'Roboto', sans-serif;
}
h2 {
	color: #3a3a3a;
	font-weight: 700;
	text-align: center;
	margin: 60px 0;
}
h3 {
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.comentario p {

}
/* Estilo para el contenedor principal con Flexbox */
.contenedor {
    display: flex;
    flex-wrap: wrap; /* Permite que los comentarios se envuelvan a la siguiente línea */
    flex-direction: column; /* Cambia la dirección principal a column para controlar las filas */
  }
  
  /* Estilo para cada comentario */
  .comentario {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 45%; /* Ajusta el ancho según tus preferencias */
    text-align: left; /* Alinea el contenido a la izquierda */
  }
  
  /* Alinea los comentarios impares a la derecha en la dirección de la columna */
  .comentario:nth-child(odd) {
    margin-left: auto;
    text-align: right;
  }
  
  /* Reinicia la dirección principal para las filas pares */
  .comentario:nth-child(2n) {
    flex-direction: column-reverse;
  }
  