/* Estilos CSS en un archivo externo */
*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    text-align: center;
}

#navegacion{
    background-color: #eceff2;
}

#navegacion ul{
    list-style: none;
}

#menu > li{
    position: relative;
    display: inline-block;
    width: 200px;
    text-align: center;
}

#menu > li > a{
    display: block;
    padding: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 17px;
}

a:hover{
    background-color: #b0b9c2;
}

#submenu{
    position: absolute;
    background-color: #eceff2;
    display: none;
}

#submenu li{
    width: 200px;
}

#submenu li a{
    display: block;
    padding: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
}

#menu li:hover #submenu{
    display: block;
}

main {
   min-height: 50%;
}

footer {
    background-color: #eceff2;
}
.container_footer{
    display: flex;
}
.container_contact_info{
    padding-left: 10%;

}
#contact_info{
    display: flex;
    flex-direction: column;
}
.mapa{
    width: 300px;
    height:300px; 
    border:0; 
}
